@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global background */
body {
    background-image: url('/bg-final.jpg');  
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0; 
    background-blend-mode: overlay;
    
}

* {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  